.center {
  text-align: center;
}

.row {
  width: fit-content;
}

#scores-table {
  margin-left: auto;
  margin-right: auto;
  font: 1rem sans-serif;
}

.tr--shaded {
  background-color: #d9d9d9;
}

tr {
  line-height: 1.8rem;
}

td {
  white-space: break-spaces;
}

.score {
  text-align: left;
  width: 6rem;
}

.playing_date {
  text-align: left;
  width: 6rem;
}

.rating_slope {
  width: 4rem;
}

.pcc {
  width: 2rem;
}

.diff {
  width: 2rem;
}

.course_tee {
  text-align: left;
  width: fit-content;
}

.button {
  background-color: #cccccc;
  border: 2px solid #cccccc;
  border-radius: 10px;
  color: #3378ac;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 14px;
  font-weight: 600;
  height: 26px;
  margin: 2px;
  padding: 1px 15px;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
}

.not_stacked {
  margin: 2px;
}

.stacked {
  margin: 2px 2px 8px 2px;
}
.button:hover {
  background-color: #fff;
  border-radius: 10px;
  color: #c00;
  -webkit-appearance: none;
}
