.center {
  text-align: center;
}

#lookup-table {
  margin-left: auto;
  margin-right: auto;
  font: 16px sans-serif;
  width: 80%;
}

.tr--shaded {
  background-color: #d9d9d9;
}

.golfer_id {
  color: rgb(111, 131, 254);
  text-decoration: underline;
  text-decoration-color: rgb(114, 131, 254);
}


.link--revision-scores {
  font-size: 0.8rem;
}
