.center {
  text-align: center;
}

#saturday-table {
  margin-left: auto;
  margin-right: auto;
  font: 16px sans-serif;
  width: 90%;
}

th.saturday-left-header-cell {
  background-color: #ffffff;
  color: #000000;
  width: 20%;
}

th.saturday-other-header-cell {
  text-align: center;
  background-color: #3378ac;
  color: #ffffff;
  width: fit-content;
}

td.saturday-left-row-cell {
  text-align: left;
  color: #000000;
  width: 300px;
}

td.saturday-other-row-cell {
  text-align: center;
  color: #000000;
  padding: 4px 1px 1px 4px;
}

td.saturday-left-row-cell:nth-child(1),
td.saturday-other-row-cell:nth-child(3n + 1) {
  border-right: 2px solid #000;
}

.tr--shaded {
  background-color: #d9d9d9;
}

.golfer_id {
  color: rgb(111, 131, 254);
  text-decoration: underline;
  text-decoration-color: rgb(114, 131, 254);
}
